@using WebForTraining.Models;
@using WebForTraining.Database;
@{
    
    Layout = null;
    var CargoType = Administration.getCargoType();

}
@if (CargoType != null)
{
   
    @*<div class="table-responsive">*@

    <table class="table table-striped responsive-utilities jambo_table dataTables" id="tblCargoType">
        <thead>
            <tr>
                <th style="width:7%"><input type="checkbox" class="selCargoType" onclick="checkAll(this, 'selCargoType');" /></th>
                <th style="width:inherit" align="left">Cargo Type</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var cgt in CargoType)
            {
                <tr>
                    <td style="width:7%"><input type="checkbox" value="@cgt.cargoTypeID" class="selCargoType" /></td>
                    <td><span class="underline">@cgt.cargoTypeName</span></td>
                    <td style="width:7%">
                        <a data-id="@cgt.cargoTypeID" onclick="javascript: ld_modal_fm('/Administration/AddEditCargoType', 'modalContentLoad', '@cgt.cargoTypeID');" class="btn btn-metro btn-info btn-xs">
                            <i class="fa fa-pencil"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    @*</div>*@
    
}
else
{
    <div class="alert alert-warning">No record to display</div>
}

<script>
    styleTable('tblCargoType');
</script>



