@{
    ViewBag.Title = "Home Page";
}

<div class="pageContent" id="pageContent">
    <div class="page-head">
        <h2>@ViewBag.Title </h2>
        
    </div>

    <div class="cl-mcont">
        <h3 class="text-center"></h3>
    </div>
</div>

<div class="modal fade" id="modalContent" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" id="modalContentLoad">
        
    </div>
</div>

